<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper green accent-4">
                <a href="/" class="brand-logo">{{.Site.Title}}</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {{ range .Site.Menus.main }}
                    <li class="menu-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>

                <ul class="sidenav" id="mobile-demo">
                    {{ range .Site.Menus.main }}
                    <li class="menu-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>

            </div>
        </nav>
    </header>
    <main>
        <div class="container content">