{{ partial "header.html" . }}
<div>
    <div class="container main">
        <div class="row">
            <div class="col l9 s12">
                <h1>{{ .Title }}</h1>
                <!-- ranges through each of the content files associated with a particular taxonomy term and renders the summary.html content view -->
                {{ range .Data.Pages }}
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ .Summary }}
                <a href="{{.Permalink }}">Read More</a> {{ end }}
            </div>
            {{ partial "widgets.html" . }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}