
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

main {
    flex: 1 0 auto;
}

.author {
    font-style: italic;
    font-size: .7em;
}

.mdate {
    font-size: .7em;
}


.affiliate-disclosure {
    font-style: italic;
    font-size: .8em;
    outline-style: solid;
    outline-color: #b8b8b8;
    font-family: 'Work Sans', sans-serif;
}

.menu-item a{
    color: black;
}

.main {
    border: solid;
    border-width: 0px 1px;
    border-color: #b8b8b8;
    padding: 10px;
    box-shadow: 2px 2px 1px #888888;
}